{% extends "base.html" %}
{% block title %}Órdenes de Trabajo{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Órdenes de Trabajo</h2>
  <div>
    {% if perms.mantenimiento.add_ordendetrabajo %}
    <a href="{% url 'crear_orden' %}" class="btn btn-success">Nueva Orden</a>
    {% endif %}
    {% if perms.mantenimiento.add_consumosuministro %}
    <a href="{% url 'registrar_consumo' %}" class="btn btn-warning">Registrar Consumo</a>
    {% endif %}
  </div>
</div>

{% if ultima_orden %}
  <div class="alert alert-info">
    Última orden visualizada: <strong>#{{ ultima_orden }}</strong>
  </div>
{% endif %}

{% if ordenes %}
  <table class="table table-striped shadow-sm">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Prioridad</th>
        <th>Estado</th>
        <th>Operario</th>
        <th>Fecha de cierre</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for orden in ordenes %}
      <tr {% if orden.id|stringformat:"s" == ultima_orden|stringformat:"s" %}class="table-info"{% endif %}>
        <td>{{ orden.id }}</td>
        <td>{{ orden.titulo }}</td>
        <td>{{ orden.prioridad }}</td>
        <td>{{ orden.estado }}</td>
        <td>{{ orden.operario_asignado }}</td>
        <td>{{ orden.fecha_cierre_real|date:"d/m/Y" }}</td>
        <td>
          {% if perms.mantenimiento.change_ordendetrabajo %}
            <a href="{% url 'asignar_orden' orden.id %}" class="btn btn-primary ">Editar</a>
          {% endif %}
          {% if perms.mantenimiento.delete_ordendetrabajo %}
            <a href="{% url 'eliminar_orden' orden.id %}" class="btn btn-danger">Eliminar</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="alert alert-secondary text-center">
    No hay órdenes registradas.
  </div>
{% endif %}
{% endblock %}
